/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*----------------------FONT-----------------------------*/
/*----------------------COLOR-----------------------------*/
/*----------------------MARGIN & PADDING-----------------------------*/
* {
  color: #ffffff;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*CSS for very small device is imported at bottom*/
/*----------------------FONT-----------------------------*/
/*----------------------COLOR-----------------------------*/
/*----------------------MARGIN & PADDING-----------------------------*/
/*-----------------------------------body-------------------------------*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/*-----------------------------------header-------------------------------*/
#navBar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  /*flex-wrap: wrap;*/
  height: 170px;
  /*flex: 1 1 100%; //for big device dont need it*/
  /*padding:20px ;*/
}

/*-----------------------------------header-------------------------------*/
header {
  height: 80%;
  background-color: #424e64;
  text-align: center;
  /*flex: 1 1 100%;*/
  padding-top: 15px;
  padding-bottom: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*margin:auto auto auto 20px;   //for big device WE NEED it*/
}
header h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 10px;
}
header h2 {
  font-size: 1.35rem;
  font-weight: 300;
}

/*-----------------------------------nav ul li-------------------------------*/
nav {
  height: 20%;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*flex-direction:row;*/
}
nav ul :last-child {
  border-right: none;
}
nav ul li {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  /*display: inline;*/
  /*font-size: 1.35rem;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  border-right: 1px solid red;
  /*:hover{
          border-top: 1px solid white; //Causing Li elements SHAKE, so turning off for now
      }*/
}
nav ul li a {
  color: #424e64;
  background-color: #bbc2ca;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background .75s ease, color .75s ease;
  transition: background .75s ease, color .75s ease;
}
nav ul li a.active {
  color: #ffffff;
  background-color: rgba(171, 177, 189, 0.6);
}
nav ul li a:hover {
  color: #bbc2ca;
  background-color: #424e64;
}

/*-----------------------------------highLight-------------------------------*/
main {
  width: 100%;
  height: 1000px;
  /*position:absolute;
  top:150px;*/
}

#highLight {
  width: 100%;
  position: absolute;
  top: 170px;
}
#highLight h1 {
  position: absolute;
  display: block;
  padding: 20px;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.58);
  bottom: 10%;
  right: 5%;
}
#highLight img {
  display: none;
  width: 100%;
  height: auto;
}
#highLight img:nth-child(2) {
  display: inline;
}

/*-----------------------------------footer-------------------------------*/
footer {
  width: 100%;
  background-color: #424e64;
  color: #bbc2ca;
  height: auto;
  /*min-height: 60px;*/
  width: 100%;
  text-align: center;
  /*position:absolute;*/
}
footer p {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*height:16px;*/
  /*position:relative;*/
  /*top:50%;      // all this 5 line of code just to make the p content vertically and horizontally center;*/
  /*margin:0 auto;*/
  padding-top: 22px;
  padding-bottom: 22px;
}
footer a {
  text-decoration: none;
}

@media only screen and (min-width: 900px) {
  /*----------------------FONT-----------------------------*/
  /*----------------------COLOR-----------------------------*/
  /*----------------------MARGIN & PADDING-----------------------------*/
  #navBar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 140px;
    background-color: #424e64;
  }

  header {
    -webkit-box-flex: 8;
        -ms-flex: 8 1 100%;
            flex: 8 1 100%;
    text-align: left;
    padding-left: 20px;
  }

  nav {
    padding-top: 50px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  nav ul li {
    border-right: none;
    border-left: 1px solid red;
  }
}
@media only screen and (max-width: 350px) {
  /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  /*  apply a natural box layout model to all elements  */
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  #navBar {
    overflow: hidden;
    clear: both;
    height: 215px;
  }

  header {
    height: 60%;
    /*flex: 2 1 100%;*/
  }

  header h2 {
    font-size: 1rem;
  }

  header h1 {
    font-size: 1.75rem;
  }

  nav {
    height: 35%;
    /*flex: 2 1 100%;*/
  }

  nav ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 2px;
  }

  nav ul li:nth-child(2n) {
    border-right: none;
  }

  #highLight {
    top: 215px;
  }
}
