// THIS CSS WRITTEN FOR 500 TO 900 PX

@import "reset";

/*CSS for very small device is imported at bottom*/

@import "variables";

@media only screen and (min-width: 560px) {
    @import "medium";
}

html {
    background-color: #bdbf3a;
}

/*-----------------------------------body-------------------------------*/
body {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    font-family: $defaultFont;
    font-weight: $normalWeight;
}

/*-----------------------------------header-------------------------------*/
#navBar {
    z-index: 10;
    position: fixed;
    top: 0;
    /*left: 0;*/
    width: 100%;
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: center; //for big device change need it
    color: $font-color;
    /*flex-wrap: wrap;*/
    height: 170px;
    /*flex: 1 1 100%; //for big device dont need it*/
    /*padding:20px ;*/
}
/*-----------------------------------header-------------------------------*/

header {
    height: 80%;
    background-color: $primaryColor;
    text-align: center; //funny isn't it! to center the logo or other stuff, that is inside this header (div).
    /*flex: 1 1 100%;*/
    padding-top: 15px;
    padding-bottom: 18px;
    box-sizing: border-box;
    /*margin:auto auto auto 20px;   //for big device WE NEED it*/
    // margin-right:auto; //To float the item to right
    h1 {
        font-size: 3rem;
        font-weight: $normalWeight;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 1.35rem;
        font-weight: $normalWeight;
    }
}
/*-----------------------------------nav ul li-------------------------------*/
nav {
    height: 20%;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        /*flex-direction:row;*/
        :last-child {
            border-right: none;
        }


        li {
            text-align: center; //funny isn't it! to center the logo or other stuff, that is inside this header (div).  ###
            flex: 1 1 25%; //for big device dont need it
            /*display: inline;*/
            //margin: 40px 20px;   //for big device WE NEED it*/
            //padding:20px;
            /*font-size: 1.35rem;*/
            box-sizing: border-box;
            font-weight: $boldWeight;
            border-right: 1px solid red; //PUT last child border none on ul element ###
            /*:hover{
                    border-top: 1px solid white; //Causing Li elements SHAKE, so turning off for now
                }*/
            a {
                color: $primaryColor;
                background-color: $secondaryColor;
                text-decoration: none;
                display: block;
                padding: 10px 0;
                box-sizing: border-box;
                transition: background .75s ease, color .75s ease;
            }

            a.active {
                color: $font-color;
                background-color: rgba(171, 177, 189, 0.60);
            }

            a:hover {
                color: $secondaryColor;
                background-color: $primaryColor;
            }
        }
    }
}

/*-----------------------------------highLight-------------------------------*/
main {
    width: 100%;
    height: auto;
    /*position:absolute;
    top:150px;*/
}

#highLight {
    width: 100%;
    height: auto;
    /*position:relative;*/
    margin-top: 175px;
    overflow: hidden;

    .img1txt {
        position: absolute;
        display: none;
        padding: 5px;
        font-size: 1.5rem;
        background-color: rgba(0, 0, 0, 0.58);
        bottom: 5%;
        right: 5%;
        z-index: 12;
    }

    img {
        display: none;
        width: 100%;
        height: auto;
        /*max-height:300px;*/
    }

    img:nth-child(2) {
        display: inline;
    }
}


/*-----------------------------------services-------------------------------*/
#services {
    /*height:1000px;*/
    /*overflow:hidden;*/
    margin-top: 10px;
    color: $primaryColor;
    font-weight: $boldWeight;

    h2 {
        color: $primaryColor;
        margin-bottom: 2px;
        margin-left: 10px;
        font-size: 2rem;
    }
}


#gradientHR {
    margin-top: 0px;
    /*position:absolute;*/
    height: 15px;
    width: 100%;
    /*background-color:red;*/
    background: linear-gradient(to right, rgba(3,29,64,1) 0%,rgba(3,29,64,0.99) 1%,rgba(41,137,216,0.5) 50%,rgba(32,124,202,0.49) 51%,rgba(125,185,232,0) 100%);
}


#serviceInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#serviceInfo div {
    flex: 1 1 23%;
    text-align: center;
    color:$font-color;
     color:$primaryColor;
    font-weight:$boldWeight;
    
    

    h3 {
        font-size: 1.2rem;
        margin-top:5px;
        margin-bottom: 0;
    }

    p {
        display: block;
        margin-bottom: 15px;
        margin-top: -5px;
    }

    img {
        width: 100%;
        height: auto;
    }
}
@media all and (min-width: 701px)and (max-width: 899px){
#serviceInfo div {
    margin-right: 5px;
    }
#serviceInfo div:nth-of-type(4n) {
        margin-right: 0px;
    }
}






/*-----------------------------------footer-------------------------------*/
footer {
    /*position: absolute;*/
    /*top:230px;*/
    display: block;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    background-color: $primaryColor;
    color: $font-color;
    height: auto;
    /*min-height: 60px;*/
    text-align: center;
    font-weight:$boldWeight;
    /*position:absolute;*/
    p {
        display: block;
        box-sizing: border-box;
        /*height:16px;*/
        /*position:relative;*/
        /*top:50%;      // all this 5 line of code just to make the p content vertically and horizontally center;*/
        /*margin:0 auto;*/
        padding-top: 22px;
        padding-bottom: 22px;
    }

    a {
        text-decoration: none;
        color:  $font-color;
    }
}




















    @import "large";



    @import "medium";



    @import "small";


