

@import "reset";

@import "small";
@import "variables";
@media only screen and (min-width: 560px)
{
    @import "medium";

}
@media only screen and (min-width: 1140px)
{
@import "large";
}


    header{
        background-color:$primaryColor;
        color: $secondaryColor;
        padding: 1rem 2%;

        h1{
            font-size: 2rem;
        }
        h2{
            font-size: 1.5rem;
        }
    }
    

    footer{
        background-color: $primaryColor;
        color: $secondaryColor;
        height:60px;
        width:100%;
    }

