/*----------------------FONT-----------------------------*/
$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;




/*----------------------COLOR-----------------------------*/
$primaryColor : #424e64;
$secondaryColor: #bbc2ca;
$font-color: #ffffff;

/*----------------------MARGIN & PADDING-----------------------------*/
$gutter:2%;
 
