/*----------------------FONT-----------------------------*/
$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;




/*----------------------COLOR-----------------------------*/
$primaryColor : #031d40;
$secondaryColor: #ffc81b;
$font-color: #ffffff;

/*----------------------MARGIN & PADDING-----------------------------*/
$gutter:2%;
 
